<footer class="border-top border-secondary-subtle mt-5">
  <div class="container py-4 d-flex flex-column flex-md-row justify-content-between gap-2">
    <p class="mb-0 text-muted">© {new Date().getFullYear()} Manas Kinkar</p>
    <ul class="list-inline mb-0">
      <li class="list-inline-item"><a href="https://github.com/Manask322">GitHub</a></li>
      <li class="list-inline-item"><a href="https://www.linkedin.com/in/manas-kinkar001/">LinkedIn</a></li>
      <li class="list-inline-item"><a href="https://twitter.com/ManasKinkar">Twitter</a></li>
    </ul>
  </div>
</footer>
