---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Experience | Manas Kinkar"
  description="Experience of Manas Kinkar."
  path="/experience/"
>
  <section class="container py-5">
    <h1 class="mb-3">Experience</h1>
  </section>
</BaseLayout>
