---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Projects | Manas Kinkar"
  description="Projects by Manas Kinkar."
  path="/projects/"
>
  <section class="container py-5">
    <h1 class="mb-3">Projects</h1>
  </section>
</BaseLayout>
